@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --very-dark-cyan: hsl(183, 100%, 15%); 
    --dark-gray-cyan: hsl(186, 14%, 43%); 
    --gray-cyan: hsl(184, 14%, 56%); 
    --light-gray-cyan: hsl(185, 41%, 84%);
    --vlight-gray-cyan: hsl(189, 41%, 97%);
    --strong-cyan: hsl(172, 67%, 45%);
}

body{
    background-color: var(--light-gray-cyan);
    margin: 0; 
    padding-top: 2em;
    font-family: 'Space Mono';
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    height: fit-content;
}

section{
    width: min(100%, 1000px);
    box-sizing: border-box;
    padding-inline: 1.2em;
    padding-block: 35px; 
    border-radius: 10px;
    background-color: white;
    display: flex;
    gap: 2em;
    align-items: stretch;
}

@media screen and (max-width: 992px) {
    section{
        display: flex;
        flex-direction: column;
    }
  }

.calculations{
    width: 100%;
    height: inherit!important;

    box-sizing: border-box;
    background-color: var(--very-dark-cyan);
    border-radius: 10px;

    padding-inline: 2em;
    padding: 1.5em;
}

.input-wrap{
    background-color: var(--vlight-gray-cyan);
    padding: 1em;
    display: flex;
    align-items: center;
}

label[for=input]{
    font-size: 1.2em;
    font-weight: 700;
    color: var(--gray-cyan);
    margin-block: 0.8em;
    display:inline-block
}

input[type=number]::placeholder, input[type=text]::placeholder{
    text-align: right;
    color: var(--gray-cyan);
}

input[type=number], input[type=text]{
    width: 100%;

    text-align: right;
    margin-left: auto;

    outline: none;
    border: none;
    background: none;

    font: normal normal 700 1.5em 'Space Mono';
    color: var(--very-dark-cyan);
}

/*Remove the arrows from the number input*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.button-wrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0.8em;
}

/*Keeping styling as specific as possible, but
.button was included for global button styling*/
.button-wrapper > button, .button{
    border-radius: 5px;
    padding: 0.5em;
    color:var(--light-gray-cyan);
    background-color: var(--very-dark-cyan);
    outline: none;
    border: none; 
    font: normal normal 700 1.3em 'Space Mono';
}

.button-wrapper > button:focus{
    background-color: var(--strong-cyan);
    color:var(--very-dark-cyan);
}

.calculations{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.calc-wrapper{
    display: flex; 
    flex: row;
    align-items: center;
    justify-content: space-between;
}


.calc-header{
    font-size: 1.2em;
    font-weight: 600;
    color: white; 
}

.calc-header > span{
    font-size: 0.8em;
    color: var(--gray-cyan)
}

.calc-val{
    font-size: 2em;
    font-weight: 700;
    color: var(--strong-cyan);
}

.respond-btn-wrap{
    display: flex; 
    flex-direction: column;
    gap: 0.5em;
    margin-top: auto;
}

/*Overwrite by .button*/
.respond-btn{
    background-color: var(--strong-cyan)!important;
    color: var(--vlight-gray-cyan)!important;
}

.respond-btn:active{
    background-color: var(--gray-cyan)!important;
}

#reset-btn:focus{
    background-color: var(--strong-cyan);
    color: var(--vlight-gray-cyan);
}

#custom-tip::placeholder{
    text-align: center;
}



















